.html {
  font-size: 16px;
  --r8: calc((8 / var(--base) * 1rem));
  --r15: calc((15 / var(--base) * 1rem));
  --r16: calc((16 / var(--base) * 1rem));
  --r20: calc((16 / var(--base) * 1rem));
  --r24: calc((24 / var(--base) * 1rem));
  --r28: calc((28 / var(--base) * 1rem));
  --r32: calc((32 / var(--base) * 1rem));
  --r40: calc((40 / var(--base) * 1rem));
  --r48: calc((48 / var(--base) * 1rem));
  --r80: calc((80 / var(--base) * 1rem));
  --base: 16;

  /* Colours */
  --white: #ffffff;
  --grey-700: #4b5563;
  --grey-800: #272728;
  --grey-900: #111827;
}

.html * {
  box-sizing: border-box;
}

.body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.body img {
  width: 100%;
  height: auto;
}

.section {
  margin: var(--r48);
}

.section__dark {
  background-color: var(--grey-800);
  color: var(--white);
  padding: var(--r48) 0;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
