
.h1, .h2, .h3, .h4, .h5,.h6 {
  margin-top: 0;
  margin-bottom: var(--r8);
  font-weight: 500;
  line-height: 1.2;
}

.h1 {
  font-size: var(--r28);
}

@media (min-width: 1200px) {
  .h1 {
    font-size: var(--r40);
  }
}
