.twoColMedia {
  margin: var(--r48) 0;
}

.twoColMedia__bgImg {
  position: relative;
  width: 100%;
  height: 480px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.9375rem;
  margin-block: 1rem;
}

@media (min-width: 768px) {
  .twoColMedia__bgImg {
    margin-block: 0;
  }
}
